# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'tika/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
    'Suse': {},
    'Arch': {},
    'RedHat': {
      'deps': [
        'java-1.8.0-openjdk-headless',
        'jai-imageio-core',
      ],
    },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('tika:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.tika.update(os_family_map) %}

{## Merge in tika:lookup pillar ##}
{% set tika = salt['pillar.get'](
        'tika',
        default=default_settings.tika,
        merge=True
    )
%}
